{% from "sensu/docker/map.jinja" import docker with context %}

DOCKER_OPTS="
{%- for key, value in docker.get("opts").iteritems() -%} 
{% for opt in value %} --{{ key }}={{ opt }}{% endfor %}
{%- endfor -%}"

{% for key, value in docker.get("env_vars").iteritems() %}
export {{key}}={{value}}
{%- endfor -%} 
